
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

.Regis{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(79deg, #664c92, #c1b9c0 48%, #f4a973);
  
}

.register{
  max-width: 978px;
  width: 100vw;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  box-shadow: 1px 3px 10px #e9ecef;
  background-color: white;
  
}

.register span{
  color: #adb5bd;
}

#form{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form >  input, .btn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
}

#form > input:focus{
  outline: none;
}

#form > .btn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
}

.register .col-1{
  margin: auto;
  padding:50px;
}

.register .col-2 img{
  width: 500px;
  height: 65%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}
.col-2 img{
  margin-top: 80px;
  margin-right: 30px;
}
.Sign{
  font-size:50px;
}
.Sign1{
  font-size:20px;
}

@media screen and (min-width: 860px)  {
  .register .col-2 img{
    display: initial;
  }
}
