.contribution-form-container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
    margin-bottom: 20px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    color: #6504b5;
    margin-top: 50px;
  }
  
  .form-group {
    margin-bottom: 15px;
    width: 100%;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  

  input[type='number'],
  input[type='text'],
  input[type='email'],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .Button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #6504b5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .Button:hover {
    background-color: #7e1dce;
  }
  